<main>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">From</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Day</th>
                <th scope="col">Team ID</th>
                <th scope="col">Invite ID</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each invites}}
            <tr>
                <td>{{this.fromUser}}</td>
                <td>{{this.teamData.name}}</td>
                </div>
                <td>{{this.teamData.time}}</td>
                <td>{{this.teamData.dayOfTheWeek}}</td>
                <td>{{this.team}}</td>
                <td>{{this.id}}</td>
                <td>
                    <div class="inline">
                        <form action="/acceptInvite/{{this.id}}" method="post"><button
                                class="btn btn-outline-primary btn-sm" value="true" name="yesorno" type="submit"><i
                                    class="fas fa-check"></i></button>
                        </form>
                        <form action="/acceptInvite/{{this.id}}" method="post"><button name="yesorno" value="false"
                                class="btn btn-outline-danger btn-sm" type="submit"><i
                                    class="fas fa-trash"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>