<main class="container">
    <a href="/teams/create"><i class="far fa-plus-square"></i></a>
    <main class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {{#if managedTeams}}
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#managedTeams" role="tab"
                    aria-controls="nav-home" aria-selected="true">Managed Teams</a>
                {{/if}}
                {{#if joinedTeams}}
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#joinedTeams" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Joined Teams</a>
                {{/if}}
                {{#if invites}}
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#invites" role="tab"
                    aria-controls="nav-contact" aria-selected="false">Invites <span
                        class="badge badge-light">{{noOfInvites}}</span></a>
                {{/if}}
            </div>
        </nav>
        {{#if noTeam}}
        <div class="noTeam">Join a team</div>
        {{/if}}
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="managedTeams" role="tabpanel" aria-labelledby="nav-home-tab">
                {{#if managedTeams}}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Time</th>
                            <th scope="col">Day</th>
                            <th scope="col">Going</th>
                            <th scope="col">ID</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each managedTeams}}
                        <tr>
                            <td><a href="/teams/{{this.id}}">{{this.name}}</a></td>
                            <td>{{this.description}}</td>
                            <td>{{this.time}}</td>
                            <td>{{this.dayOfTheWeek}}</td>

                            <td>25/96</td>
                            <td>{{this.id}}</td>
                            <td>asdasda</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                {{/if}}
            </div>
            <div class="tab-pane fade" id="joinedTeams" role="tabpanel" aria-labelledby="nav-profile-tab">
                {{#if joinedTeams}}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Time</th>
                            <th scope="col">Day</th>
                            <th scope="col">Going</th>
                            <th scope="col">ID</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each joinedTeams}}
                        <tr>
                            <td><a href="/teams/{{this.id}}">{{this.name}}</a></td>
                            <td>{{this.description}}</td>
                            <td>{{this.time}}</td>
                            <td>{{this.dayOfTheWeek}}</td>

                            <td>25/96</td>
                            <td>{{this.id}}</td>
                            <td>asdasda</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                {{/if}}</div>
            <div class="tab-pane fade" id="invites" role="tabpanel" aria-labelledby="nav-contact-tab">{{#if invites}}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">From</th>
                            <th scope="col">Name</th>
                            <th scope="col">Time</th>
                            <th scope="col">Day</th>
                            <th scope="col">Team ID</th>
                            <th scope="col">Invite ID</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each invites}}
                        <tr>
                            <td>{{this.fromUser}}</td>
                            <td>{{this.teamData.name}}</td>
                            <td>{{this.teamData.time}}</td>
                            <td>{{this.teamData.dayOfTheWeek}}</td>
                            <td>{{this.team}}</td>
                            <td>{{this.id}}</td>
                            <td>accept decline</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </div>
        </div>
    </main>