<main class="container">
    <h2 class="box">Teams</h2>
        {{#if err}}<div class="alert alert-danger" role="alert">
        {{err}}
    </div>{{/if}}
    {{#if isTeamAdmin}}
    {{#if showTeam}}
    <div class="reportScore">
        <form action="/team/{{{teamID}}}/report" method="post">
            <div class="form-group">
                <h4>Report score</h4>
                <select class="form-control" name="score" id="report">
                    <option>Team 1 won</option>
                    <option selected>Draw</option>
                    <option>Team 2 won</option>
                </select>
            </div>
            <button class="btn btn-primary">Submit score</button>
        </form>
    </div>
    {{/if}}{{/if}}
    {{#if showTeam}}
    <div class="devider box">

        <div class="teamTable">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Elo</th>
                        <th scope="col">Recomended Pos</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each team.team1}}
                    <tr>
                        <th scope="row">{{{add @index}}}</th>
                        <td>{{{this.name}}}</td>
                        <td>{{{this.elo}}}</td>
                        <td>{{{this.position}}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{#if odds.odds1}}<p>Odds1 = {{{odds.odds1}}}</p>{{/if}}
        </div>
        <div class="teamTable">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Elo</th>
                        <th scope="col">Recomended Pos</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each team.team2}}
                    <tr>
                        <th scope="row">{{{add @index}}}</th>
                        <td>{{{this.name}}}</td>
                        <td>{{{this.elo}}}</td>
                        <td>{{{this.position}}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{#if odds.odds2}}<p>Odds2 = {{{odds.odds2}}}</p>{{/if}}

        </div>
    </div>
    {{/if}}
    {{#unless showTeam}}
    <p>Click below to generate a team</p>
    {{/unless}}

    <form action="/team/{{{teamid}}}/getTeam">
        <button type="submit" class="btn btn-primary">Click to generate a team</button>
    </form>
</main>