<main class="container">
    <div class="info">
        <script>let time = new Date({{{ team.nextEvent }}});</script>
        <h5>Time to event: <span id="countDown"></span> </h5>
        <h6>Max players: {{team.maxplayers}}</h6>
        <h6>Price per event: {{team.priceSingle}}</h6>
    </div>
    <div class="buttons">
        <h4>Your status</h4>
        <button id="{{team.id}}" class="btn status">{{status.response}}{{#unless status.response}}Not
            Going{{/unless}}</button>
        <form action="/leaveTeam/{{team.id}}" method="post"><button class="btn btn-danger">Leave Team</button></form>
    </div>
    <div class="team">
        {{#if squad}}
        <div class="teamTable">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Elo</th>
                        <th scope="col">Recomended Pos</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each team.team1}}
                    <tr>
                        <th scope="row">{{{add @index}}}</th>
                        <td>{{{this.name}}}</td>
                        <td>{{{this.elo}}}</td>
                        <td>{{{this.position}}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{#if odds.odds1}}<p>Odds1 = {{{odds.odds1}}}</p>{{/if}}
        </div>
        <div class="teamTable">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Elo</th>
                        <th scope="col">Recomended Pos</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each team.team2}}
                    <tr>
                        <th scope="row">{{{add @index}}}</th>
                        <td>{{{this.name}}}</td>
                        <td>{{{this.elo}}}</td>
                        <td>{{{this.position}}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{#if odds.odds2}}<p>Odds2 = {{{odds.odds2}}}</p>{{/if}}

        </div>
        {{/if}}
        {{#unless squad}}
        display team
        {{/unless}}
    </div>
</main>
<script src="/public/js/teams.js" defer></script>
<script src="/public/js/time.js" defer></script>