<main class="container">

    <main class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {{#if joinedTeams}}
                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#joinedTeams"
                    role="tab" aria-controls="nav-profile" aria-selected="false">Joined Teams</a>
                {{/if}}
                {{#if managedTeams}}
                <a class="nav-item nav-link {{#unless joinedTeams}}active{{/unless}}" id="nav-home-tab"
                    data-toggle="tab" href="#managedTeams" role="tab" aria-controls="nav-home"
                    aria-selected="true">Managed Teams</a>
                {{/if}}
                {{#if invites}}
                <a class="nav-item nav-link {{#unless managedTeams}}{{#unless joinedTeams}}active{{/unless}}{{/unless}}"
                    id="nav-contact-tab" data-toggle="tab" href="#invites" role="tab" aria-controls="nav-contact"
                    aria-selected="false">Invites <span class="badge badge-light">{{noOfInvites}}</span></a>
                {{/if}}
            </div>
        </nav>
        {{#if noTeam}}
        <div class="noTeam">Join a team</div>
        {{/if}}
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade {{#if joinedTeams}}show active{{/if}}" id="joinedTeams" role="tabpanel"
                aria-labelledby="nav-profile-tab">
                {{#if joinedTeams}}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Time</th>
                            <th scope="col">Day</th>
                            <th scope="col">Going</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each joinedTeams}}
                        <tr>
                            <td><a href="/team/{{this.id}}">{{this.name}}</a></td>
                            <td>{{this.description}}</td>
                            <td>{{this.time}}</td>
                            <td>{{this.dayOfTheWeek}}</td>
                            <td><span id="going{{{this.id}}}">{{this.going}}</span>/{{this.size}}</td>

                            <td><button id="{{this.id}}"
                                    class="btn statusChange">{{this.status.response}}{{#unless this.status.response}}Not
                                    Going{{/unless}}</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}</div>
            <div class="tab-pane fade {{#unless joinedTeams}} show active{{/unless}}" id="managedTeams" role="tabpanel"
                aria-labelledby="nav-home-tab">
                {{#if managedTeams}}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Time</th>
                            <th scope="col">Day</th>
                            <th scope="col">Going</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each managedTeams}}
                        <tr>
                            <td><a href="/team/{{this.id}}/manage">{{this.name}}</a></td>
                            <td>{{this.description}}</td>
                            <td>{{this.time}}</td>
                            <td>{{this.dayOfTheWeek}}</td>
                            <td>{{this.going}}/{{this.size}}</td>
                            <td>ADMIN</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </div>
            <div class="tab-pane fade {{#unless managedTeams}}{{#unless joinedTeams}}show active{{/unless}}{{/unless}}"
                id="invites" role="tabpanel" aria-labelledby="nav-contact-tab">{{#if invites}}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">From</th>
                            <th scope="col">Name</th>
                            <th scope="col">Time</th>
                            <th scope="col">Day</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each invites}}
                        <tr>
                            <td>{{this.fromUserID}}</td>
                            <td>{{this.teamData.name}}</td>
            </div>
            <td>{{this.teamData.time}}</td>
            <td>{{this.teamData.dayOfTheWeek}}</td>
            <td>
                <div class="inline">
                    <form action="/acceptInvite/{{this.id}}" method="post"><button
                            class="btn btn-outline-primary btn-sm" value="true" name="yesorno" type="submit"><i
                                class="fas fa-check"></i></button>
                    </form>
                    <form action="/acceptInvite/{{this.id}}" method="post"><button name="yesorno" value="false"
                            class="btn btn-outline-danger btn-sm" type="submit"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
            </td>
            </tr>
            {{/each}}
            </tbody>
            </table>
            {{/if}}
        </div>
        </div>
        {{#if isTeamManager}}<a href="/team/create"><button class="btn btn-primary">Create Team</button></a>{{/if}}
    </main>
    <script src="/public/js/teams.js" defer></script>